@model IEnumerable<HCMApplication.Models.CourseCalendar>
@{
    ViewData["Title"] = "Календарь курсов";
    Layout = "_Layout";
}
@if (User.IsInRole("admin"))
{
    <div class="m-1 p-2">
        <form asp-action="CourseCalendar" method="get" class="form-inline">
            <label class="m1">Введите Ключ курса :</label>
            <input class="form-control" name="courseKey" value="@ViewBag.courseKey" />
            <label class="m1">Минимальное количество участников:</label>
            <input class="form-control" name="participants" value="@ViewBag.participants" />
            <button class="btn btn-primary m-1">Отфильтровать</button>
        </form>
    </div>
    <table class="table table-sm table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Название</th>
                <th>Тренер</th>
                <th>Количество участников</th>
                <th>Дата начала</th>
                <th>Дата завершения</th>
                <th>Ключ курса</th>

            </tr>
        </thead>
        <tbody>
            @foreach (var emp in Model)
            {
            <tr>
                <td>@emp.CourseCalendarId</td>
                <td>@emp.Name</td>
                <td>@emp.Mentor</td>
                <td>@emp.Participants</td>
                <td>@emp.DateOfStart.ToShortDateString()</td>
                <td>@emp.DateOfEnd.ToShortDateString()</td>
                <td>@emp.CourseKey</td>

                <td>
                    <form asp-action="DeleteCourseCalendar" method="post">
                        <a asp-action="EditCourseCalendar" class="btn btn-sm btn-warning" asp-route-id="@emp.CourseCalendarId">
                            Редактировать
                        </a>
                        <a asp-action="DetailsCourseCalendar" class="btn btn-sm btn-info" asp-route-id="@emp.CourseCalendarId">
                            Детали
                        </a>
                        <input type="hidden" name="id" value="@emp.CourseCalendarId" />
                        <button type="submit" class="btn btn-danger btn-sm">Удалить</button>
                    </form>
                </td>
            </tr>
            }
        </tbody>
    </table>
    <a asp-action="CreateCourseCalendar" class="btn btn-primary">Добавить новый курс</a>
}
@if (User.IsInRole("user"))
{
    <div class="text-justify">Данная страница недоступна для просмотра роли вашего пользователя</div>
    <br />
}
