@model IEnumerable<HCMApplication.Models.CourseCalendar>
@{
    ViewData["Title"] = "Календарь курсов";
    Layout = "_Layout";
}
@if (User.IsInRole("admin"))
{
    <div class="m-1 p-2">
        <form asp-action="CourseCalendar" method="get" class="form-inline">
            <label class="m1">Название</label>
            <select name="name" class="form-control">
                <option value="">Все</option>
                <option selected="@(ViewBag.name == "Лидерские качества")">
                    Лидерские качества
                </option>
                <option selected="@(ViewBag.name == "Новые возможности Java")">
                    Новые возможности Java
                </option>
            </select>
            <label class="m1">Минимальное количество участников:</label>
            <input class="form-control" name="participants" value="@ViewBag.participants" />
            <button class="btn btn-primary m-1">Отфильтровать</button>
        </form>
    </div>
    <table class="table table-sm table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Название</th>
                <th>Период прохождения</th>
                <th>Тренер</th>
                <th>Количество участников</th>
                <th>Дата начала</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var emp in Model)
            {
                <tr>
                    <td>@emp.CourseCalendarId</td>
                    <td>@emp.Name</td>
                    <td>@emp.Period</td>
                    <td>@emp.Mentor</td>
                    <td>@emp.Participants</td>
                    <td>@emp.DateOfStart</td>
                    <td>
                        <form asp-action="DeleteCourseCalendar" method="post">
                            <a asp-action="EditCourseCalendar" class="btn btn-sm btn-warning" asp-route-id="@emp.CourseCalendarId">
                                Редактировать
                            </a>
                            <input type="hidden" name="id" value="@emp.CourseCalendarId" />
                            <button type="submit" class="btn btn-danger btn-sm">Удалить</button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <a asp-action="CreateCourseCalendar" class="btn btn-primary">Добавить новый курс</a>
}
@if (User.IsInRole("user"))
{
    <div class="text-justify">Данная страница недоступна для просмотра роли вашего пользователя</div>
    <br />
}
<!--<div class="text-center">-->
@*<h2>Сотрудники</h2>*@
<!--<h1>@ViewData["Title"]</h1>
</div>
<form>
    <div class="row">
        <div class="col">
            <p>
                <label>ФИО</label><br />
                <input type="text" name="FIO" />
            </p>
            <p>
                <label>Возраст</label><br />
                <input type="number" name="Age" />
            </p>
            <p>
                <label>Номер телефона</label><br />
                <input type="tel" id="phone" name="phone"
                       pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}"
                       required>
                <small>Format: 700-123-4567</small>
            </p>
            <p>
                <label>E-mail</label><br />
                <input type="email" id="email" size="30" required>
            </p>
            <p>
                <label>Дата рождения</label><br />
                <input type="date" name="DateOfBirth" placeholder="dd-mm-yyyy" value="" min="1937-01-01" max="2030-12-31">
            </p>
            <p>
                <label>Адрес</label><br />
                <input type="text" name="Address" />
            </p>
        </div>
        <div class="col">
            <p><label>Семейное положение:</label></p>
            <input type="radio" id="married" name="familystatus" value="married" checked>
            <label for="married">Замужем/Женат</label>
            <input type="radio" id="notmarried" name="familystatus" value="notmarried">
            <label for="notmarried">Не замужем/Не женат</label>
            <p>
                <label>Количество детей:</label><br />
                <input type="number" name="NumberOfChildren" />
            </p>
            <p><label>Есть ли льготы:</label></p>
            <input type="checkbox" id="none" name="none"
                   checked>
            <label for="none">Нет</label>
            <input type="checkbox" id="invalidity" name="invalidity">
            <label for="invalidity">Инвалидность</label>
            <input type="checkbox" id="manychildren" name="manychildren">
            <label for="manychildren">Многодетная семья</label>
            <p>
                <input type="submit" value="Добавить" />
            </p>
        </div>
    </div>-->
@* Расширенные поля *@
<!--<div class="form-group">
        <input type="checkbox" name="seeAnotherField" id="seeAnotherField">
        <label for="seeAnotherField">Do You Want To See Another Field?</label>
    </div>
    <div class="form-group" id="otherFieldDiv">
        <label for="otherField">Here you go!</label>
    </div>
</form>-->
@*@model IEnumerable<HCMApplication.Models.Course>

    @{
        ViewBag.Title = "Все курсы";
        ViewData["Title"] = "Курсы";

        //Layout = null;
    }

    <a asp-action="CourseAdd">Добавить курс</a>
    <table class="table">
        <tr>
            <td>Название</td>
            <td>Компания</td>
            <td>Описание</td>
            <td>Формат курса</td>
            <td>Срок действия</td>
            <td>Период прохождения</td>
            <td>Автор</td>

        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.Company</td>
                <td>@item.Description</td>
                <td>@item.Format</td>
                <td>@item.Validity</td>
                <td>@item.Period</td>
                <td>@item.Author</td>

            </tr>
        }
    </table>


    <a href="~/Home/CourseAdd">Добавить</a>
    <table class="table">
        <thead>
            <tr>
                <th>Название</th>
                <th>Компания</th>
                <th>Описание</th>
                <th>Формат курса</th>
                <th>Срок действия</th>
                <th>Период прохождения</th>
                <th>Автор</th>
                <th></th>
            </tr>
        </thead>
    @foreach (var course in Model)
    {
        <tbody>
            <tr>
                <td>@course.Name</td>
                <td>@course.Company</td>
                <td>@course.Validity</td>
                <td>@course.Period</td>
                <td>@course.Description</td>
                <td>@course.Author</td>
                <td>@course.Format</td>
            </tr>
        </tbody>
    }
    </table>


    <h1>ViewData["Title"]</h1>

    <form>
        <div class="row">
            <div class="col">
                <p>
                    <label>Название</label><br />
                    <input type="text" name="Name" />
                </p>
                <p>
                    <label>Компания</label><br />
                    <input type="text" name="Company" />
                </p>
                <p>
                    <label>Описание</label><br />
                    <input type="text" name="Description" />
                </p>
                <p>
                    <label>Формат курса</label><br />
                    <select name="CourseFormat" id="courseFormat">
                        <option value="seminar">Семинар</option>
                        <option value="lecture">Лекция</option>
                        <option value="training">Тренинг</option>
                        <option value="coaching">Коучинг</option>
                        <option value="roleplay">Ролевые игры</option>
                        <option value="brainstorm">Мозговой штурм</option>
                        <option value="caseanalysis">Анализ кейсов</option>
                    </select>
                </p>
            </div>
            <div class="col">
                <p>
                    <label>Срок действия</label><br />
                    <select name="PeriodOfValidity" id="periodOfValidity">
                        <option value="halfyear">6 месяцев</option>
                        <option value="oneyear">1 год</option>
                        <option value="twoyears">3 года</option>
                        <option value="fiveyears">5 лет</option>
                        <option value="tenyears">10 лет</option>
                    </select>
                </p>
                <p>
                    <label>Период прохождения</label><br />
                    <select name="Period" id="period">
                        <option value="twoweeks">2 недели</option>
                        <option value="onemonth">1 месяц</option>
                        <option value="threemonth">3 месяца</option>
                        <option value="sixmonth">6 месяцев</option>
                        <option value="ninemonth">9 месяцев</option>
                        <option value="oneyear">1 год</option>
                    </select>
                </p>
            </div>
        </div>
        <p>
            <input type="submit" value="Добавить" />
        </p>
         Расширенные поля
        <div class="form-group">
            <input type="checkbox" name="seeAnotherField" id="seeAnotherField">
            <label for="seeAnotherField">Дополнительные поля</label>
        </div>
        <div class="form-group" id="otherFieldDiv">
            <label for="otherField">Период прохождения</label>
            <br/><select name="Period" id="otherField">
                <option value="twoweeks">2 недели</option>
                <option value="onemonth">1 месяц</option>
                <option value="threemonth">3 месяца</option>
                <option value="sixmonth">6 месяцев</option>
                <option value="ninemonth">9 месяцев</option>
                <option value="oneyear">1 год</option>
            </select>
        </div>
    </form>*@
