@model IEnumerable<HCMApplication.Models.Employee>
@{
    ViewData["Title"] = "Сотрудники";
    Layout = "_Layout";
}

<div class="m-1 p-2">
    <form asp-action="Employee" method="get" class="form-inline">
        <label class="m1">Введите Почту:</label>
        <input class="form-control" name="email" value="@ViewBag.email" />
        <label class="m1">Введите Табельный номер/Номер удостоверения:</label>
        <input class="form-control" name="number" value="@ViewBag.number" />
        <button class="btn btn-primary m-1">Отфильтровать</button>
    </form>
</div>
<table class="table table-sm table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>ФИО</th>
            <th>Номер телефона</th>
            <th>E-mail</th>
            <th>Адрес</th>
            <th>Женат/Замужем</th>
            <th>Количество детей</th>
            <th>Льготы</th>
            <th>Табельный номер</th>
            <th>Номер удостоверения</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var emp in Model)
        {

        <tr>
            <td>@emp.EmployeeId</td>
            <td>@emp.Name</td>
            <td>@emp.PhoneNumber</td>
            <td>@emp.Email</td>
            <td>@emp.Address</td>
            <td>@emp.Married</td>
            <td>@emp.Children</td>
            <td>@emp.Benefits</td>
            <td>@emp.TabelId</td>
            <td>@emp.Passport</td>
            <td>
                <form asp-action="Delete" method="post">
                    <a asp-action="Edit" class="btn btn-sm btn-warning" asp-route-id="@emp.EmployeeId">
                        Редактировать
                    </a>
                    <input type="hidden" name="id" value="@emp.EmployeeId" />
                    <button type="submit" class="btn btn-danger btn-sm">Удалить</button>
                </form>
            </td>
        </tr>
        }
    </tbody>
</table>
<a asp-action="Create" class="btn btn-primary">Добавить нового сотрудника</a>
