@model IEnumerable<HCMApplication.Models.EmployeeTest>
@{
    ViewData["Title"] = "Оценивание сотрудников";
    Layout = "_Layout";
}
@if (User.IsInRole("admin") || User.IsInRole("user"))
{
    <div class="m-1 p-2">
        <form asp-action="EmployeeTest" method="get" class="form-inline">
        </form>
    </div>
    <table class="table table-sm table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Оценил сотрудник</th>
                <th>Табельный номер оценившего:</th>
                <th>ФИО</th>
                <th>Средний балл оценивания</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var emp in Model)
            {

                <tr>
                    <td>@emp.EmpTestId</td>
                    <td>@emp.Author</td>
                    <td>@emp.AuthorId</td>
                    <td>@emp.EmployeeName</td>
                    <td>@emp.Total</td>
                </tr>
            }
        </tbody>
    </table>
    <a asp-action="CreateEmployeeTest" class="btn btn-primary">Оценить сотрудника</a>

}


